<!-- The table listing the files available for upload/download -->
    <div>
    <table id="dustatus" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </div>
