<div class="row">
  <div class="col-md-12">
    <%#= link_to "List", {:controller => "users", :action => :index}, :class => "btn btn-primary" %>
    <%= render partial: 'patients/uploadbar', :locals => { study: @study} %>
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>Studies
        </div>              
      </div>
      <div class="portlet-body">
        <table id="studiesTable" data-source="<%= patient_path(format: :json) %>" class="table table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Images</th>
              <th>Conducted on</th>
              <th>Updated on</th>
              <th>Comments</th>
              <th>Viewer</th>
            </tr>
          </thead>
        </table>
        <%= render partial: 'comments/show'%>
      </div>
    </div>
  </div>
</div>